<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HospitalManagement</display-name>
  <servlet>
    <servlet-name>HospitalManagement</servlet-name>
    <servlet-class>servlet.HospitalManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalManagement</servlet-name>
    <url-pattern>/HospitalManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NurseRegistration</servlet-name>
    <servlet-class>servlet.NurseRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NurseRegistration</servlet-name>
    <url-pattern>/NurseRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PatientRegistration</servlet-name>
    <servlet-class>servlet.PatientRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientRegistration</servlet-name>
    <url-pattern>/PatientRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoomAllocation</servlet-name>
    <servlet-class>servlet.RoomAllocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomAllocation</servlet-name>
    <url-pattern>/RoomAllocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenerateBill</servlet-name>
    <servlet-class>servlet.GenerateBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateBill</servlet-name>
    <url-pattern>/GenerateBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Payment</servlet-name>
    <servlet-class>servlet.Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Treatment</servlet-name>
    <servlet-class>servlet.Treatment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Treatment</servlet-name>
    <url-pattern>/Treatment</url-pattern>
  </servlet-mapping>
</web-app>